h1::after {
  content: "Michał Pawłowski |";
  animation: textShrink 6s steps(40) infinite;
  animation-delay: 1.5s;
}

@keyframes textShrink {
  0% {
    content: "Michał Pawłowski |";
  }
  2.5% {
    content: "Michał Pawłowsk |";
  }
  5% {
    content: "Michał Pawłows |";
  }
  7.5% {
    content: "Michał Pawłow |";
  }
  10% {
    content: "Michał Pawło |";
  }
  12.5% {
    content: "Michał Pawł |";
  }
  15% {
    content: "Michał Paw |";
  }
  17.5% {
    content: "Michał Pa |";
  }
  20% {
    content: "Michał P |";
  }
  22.5% {
    content: "Michał |";
  }
  25% {
    content: "Micha |";
  }
  27.5% {
    content: "Mich |";
  }
  30% {
    content: "Mic |";
  }
  32.5% {
    content: "Mi |";
  }
  35% {
    content: "M |";
  }
  42.5% {
    content: "MP |";
  }
  45% {
    content: "MP. |";
  }
  47.5% {
    content: "MP.D |";
  }
  50% {
    content: "MP.De |";
  }
  52.5% {
    content: "MP.Dev |";
  }
  55% {
    content: "MP.De |";
  }
  57.5% {
    content: "MP.D |";
  }
  60% {
    content: "MP. |";
  }
  62.5% {
    content: "MP |";
  }
  65% {
    content: "M |";
  }
  72.5% {
    content: "Mi |";
  }
  75% {
    content: "Mic |";
  }
  77.5% {
    content: "Mich |";
  }
  80% {
    content: "Micha |";
  }
  82.5% {
    content: "Michał |";
  }
  85% {
    content: "Michał P |";
  }
  87.5% {
    content: "Michał Pa |";
  }
  90% {
    content: "Michał Paw |";
  }
  92.5% {
    content: "Michał Pawł |";
  }
  95% {
    content: "Michał Pawło |";
  }
  97.5% {
    content: "Michał Pawłow |";
  }
  100% {
    content: "Michał Pawłowski |";
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scroll-style {
  --sb-track-color: #757272;
  --sb-thumb-color: #2b2b2b;
  --sb-size: 4px;
}

.scroll-style::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-style::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-style {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
